/* reset */
*{
    box-sizing: border-box;
    margin: 0;
}

/* generics */
body{
    font-family: 'Open Sans', sans-serif;
}

/* utility */

.bolder{
    font-weight: 800;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.align-middle{
    vertical-align: middle;
}

.mb-40{
    margin-bottom: 40px;
}

.mb-20{
    margin-bottom: 20px;
}

.mb-10{
    margin-bottom: 10px;
}

.hr-small{
    width: 15%;
}


.col{
    float: left;
}

.w-30{
    width: 30%;
}

.w-40{
    width: 40%;
}

.w-50{
    width: 50%;
}

.w-60{
    width: 60%;
}

.w-70{
    width: 70%;
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

/* icons */

.fa-arrow-down{
    font-size: 50px;
    animation: up-down linear 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    color: black;
}

@keyframes up-down{
    0%{
        transform: translateY(0);
    }

    100%{
        transform: translateY(100%);
    }
}


/* HEADER */
.topbar{
    /*  */
    height: 100px;
}
/* colonne */
.topbar .col{
    /*  */
    height: 100px;
    width: 15%;
    line-height: 100px;
}

.topbar .col.center{
    position: relative;
    width: 70%;
}

.col ul{
    padding-left: 0;
}

.col li{
    display: inline-block;
    padding-right: 50px;
    text-decoration: none;
    color: black;
    
}

.col li a{
    text-decoration: none;
    color: black;
}
/* logo */
#logo{
    vertical-align: middle;
    padding-right: 50px;
}
.inline-block{
    display: inline-block;
}

.right{
    position: absolute;
    right: 0;
}

.btn{
    color: black;
    padding: 8px 20px;
    text-decoration: none;
}

.btn-wide{
    padding: 8px 60px;
}

.btn.blue{
    color: white;
    background-color: #0061FF;
}

.btn-clear{
    border: 1px solid black;
}

/* spotlight */
header .spotlight{
    height: 950px;
    background-color: #B4D0E7;
}

header .spotlight h2{
    font-size: 80px;
    margin-bottom: 50px;
}

.container{
    padding: 100px;
}

#jumbo{
    width: 100%;
    animation: transition linear 500ms;
}

@keyframes transition {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0%);
        opacity: 100%;
    }
}

.spotlight p{   
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 600;
}

/* main */
.container-small{
    max-width: 1400px;
    margin: 0 auto;
    height: 2000px;
}

.page
{
    margin-top: 230px;
    margin-bottom: 230px;
}

#plans h1{
    font-size: 50px;
}

.fatturazione{
    padding-top: 50px;
}

.radio{
    margin-right: 5px;
    background-color: white;
    border: 2px solid #D2D2D5;
    border-radius: 50%;
    height: 25px;
    width: 25px;
}

.radio:active{
    border: 4px solid #0061FF;
}

.fatturazione span{
    margin-right: 30px;
}

/* PIANI/colonne */
.items{
    position: relative;
    right: 50px;
}

.items .col{
    width: calc(100% / 3);
    padding-top: 50px;
    padding-left: 50px;
}

.col-container{
    height: 100%;
    border: 1px solid #D2D2D5;
    padding-bottom: 200px;
}

.col-container .name{
    padding: 20px;
}

.article-plans{
    padding: 30px;
}

.article-plans ul li{
    margin-bottom: 20px;
}

.bottom-section{
    height: 300px;
    margin-top: 60px;
    padding-right: 50px;
}

.col-container.bottom{
    padding-bottom: 0;
}

.col-container.bottom .col{
    padding: 50px;
    
}

/* parter */
.partner .col.w-40{
    font-size: 25px;
    padding: 50px;
    padding-left: 0;
}

.partner .col img{
    width: 80%;
}

/* operations */
.page.operations h2{
    font-size: 40px;
}

.cards .col{
    width: calc(100% / 3);
    padding: 0 40px;
}

.cards .row{
    margin: 0 -40px;
    margin-bottom: 50px;
}

.col .card{
    margin-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.col .card .image{
   
}

.col .card .image img{
    width: 100%;
    height: 100%;
}